@page "/counter"

<h1>@model.Title</h1>

<input type="text" class="form-control" @oninput=@SetUsername placeholder="Username">

<p style="margin-top:50px;">Current count: @model.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment Count</button>


<h3 style="margin-top:50px;">@model.UTC</h3>


<button style="margin-top:50px;" class="btn btn-primary" @onclick=@ShowAlert>Trigger Alert</button>


<button style="margin-top:50px;" class="btn btn-primary" @onclick=@(() => SelectItem(Guid.NewGuid().ToString()))>NavigateToItem</button>
